html {
    height: 100%;
}
.mdb-navbar {
    background-color: #dd23c1;
    // justify-content: center;
}

.container {
    flex-direction: row;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
    text-rendering: optimizeLegibility;
    position: relative;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Courier New', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    /* background: linear-gradient(150deg,#D5E3F1 15%,#FFFBD9 70%,#FFDFCB 94%); */
    // background: #d8a1fd;
}
h1 {
    font-size: 2em;
}
.table-bordered,
.table-bordered td,
.table-bordered th {
    border: 1px solid #51d1a0;
}
