<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-warning" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="assets/images/Storage.png" width="40" height="40"
        class="d-inline-block align-top" alt="">Rent a Unit</a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>



    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li>
        <div ngbDropdown class="d-inline-block  ">
          <button class="btn btn-warning text-light" id="dropdownBasic1" ngbDropdownToggle>Clients</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="client/registration">Add Client</button>
            <button ngbDropdownItem routerLink="/clients">List clients</button>
            <!-- <button ngbDropdownItem>Something else is here</button> -->
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="/units">Storage Units</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect href="">Capacity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect href="/about">About<span class="sr-only"></span></a>
      </li>

    </ul>



  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<!--/.Navbar-->
<router-outlet></router-outlet>