<div style="text-align:center">
    <h1>
        List of units
    </h1>
    <br>
</div>
<br>
<div class="d-flex justify-content-center">
    <table class="table table-table-bordered table-hover table-striped table-sm">
        <thead class="thead-dark">
            <th>Address</th>
            <th>Capacity</th>
            <th>Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let unit of units">
                <td>{{unit.address}}</td>
                <td>{{unit.capacity}}</td>
                <td>{{unit.price}}</td>

                <!-- <td><a (click)="deleteById(patient.id)"><b>Delete account</b></a></td> -->
            </tr>
        </tbody>
    </table>
</div>