<div class="form">
    <form [formGroup]="registrationForm" (ngSubmit)="submitClientRegistration()" novalidate>
        <!-- display validation message -->
        <div *ngIf='validMessage !=""'>
            <h3 class="info">{{validMessage}}</h3>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" required autofocus />
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" formControlName="surname" required autofocus />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>

        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" formControlName="address" required autofocus />
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>