<div style="text-align:center">
    <h1>
        List of clients
    </h1>
    <br>
</div>
<br>
<div class="d-flex justify-content-center">
    <table class="table table-table-bordered table-hover table-striped table-sm">
        <thead class="thead-dark">
            <th>Name</th>
            <th>Surname</th>
            <th>E-mail</th>
            <th>Address</th>

        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.name}}</td>
                <td>{{client.surname}}</td>
                <td>{{client.email}}</td>
                <td>{{client.address}}</td>
                <!-- <td><a (click)="deleteById(patient.id)"><b>Delete account</b></a></td> -->
            </tr>
        </tbody>
    </table>
</div>